.ubicacion-section {
  background-color: #f5f5dc; /* Beige claro */
  text-align: center;
  padding: 50px 20px;
}

.ubicacion-section h2 {
  color: #3cb371; /* Verde claro */
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
}

.map-container {
  height: 400px;
  width: 90%;
  max-width: 700px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  border: 5px solid #3cb371; /* Borde verde */
}
